@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

html, body {
  height: 100%;
}

header {
  top: 0;
  position: sticky;
  z-index: 9;
}

.full-width-button:hover {
  background-color: #eee;
}

#md-guide {
  display: flex;
}

#md-guide #guide-items {
  flex-grow: 1;
}

#md-guide .menu > li {
  display: flex;
  align-items: center;
}

.emoji-group {
  font-size: 150%;
}

#file-info {
  font-size: 90%;
}

#file-info .dropdown-toggle {
  display: flex;
}

#file-info .dropdown-toggle > *:nth-child(2) {
  flex-grow: 1;
}

#file-info .breadcrumb {
  padding: 0;
  margin: 0;
  line-height: 1;
}

#editor-wrapper .controls,
#display-wrapper .controls,
#content > .controls {
  border-top: 1px solid #ddd;
  justify-content: flex-end;
}

#editor-wrapper .actual {
  font-family: 'Roboto Mono', Courier, monospace;
  font-size: .8em;
  border: 1px solid;
  overflow: hidden;
}

#display-wrapper .actual {
  border: 1px dotted;
  overflow: hidden;
}

.actual > *:first-child {
  overflow: auto;
  resize: none;
}

#modal-file-explorer .modal-body {
  display: flex;
  flex-direction: column;
  height: 50vh;
}

#modal-file-explorer .file-list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
  align-content: flex-start;
}

#modal-file-explorer .nav-button:hover {
  background-color: #efefef;
}

#modal-file-explorer .file-tile {
  background-color: #ffffff;
  cursor: default;
}
#modal-file-explorer .file-tile:hover {
  box-shadow: 0px 0px 1px 1px #78909C;
}

#modal-file-explorer .file-tile:focus {
  background-color: #ECEFF1;
}

#modal-file-explorer .file-tile.selected {
  background-color: #ECEFF1;
}

#modal-file-explorer .modal-footer {
  display: flex;
}

#modal-file-explorer .modal-footer > *:not(:first-child) {
  margin-left: 5px;
}

#modal-file-explorer .file-name {
  text-align: left;
  flex-grow: 1;
  border: 1px solid #ECEFF1;
  display: flex;
  align-items: center;
}

#maximised-display .modal-container {
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}

@keyframes fade-in-out {
  0%   {opacity: 0.2;}
  50%  {opacity: 1;}
  100% {opacity: 0.2;}
}

#modal-loading .modal-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #607D8B;
  font-weight: 100;
}

#modal-loading #loading-text {
  text-align: center;
  animation: fade-in-out 3s infinite;
  white-space: nowrap;
}

.columns-horizontal {
  flex-direction: row;
}

.hide {
  display: none!important;
}

.h-box {
  display: flex;
  flex-direction: row;
}

.v-box {
  display: flex;
  flex-direction: column;
}

.grow {
  flex-grow: 1;
  flex-basis: 0;
}

.h-box.v-center { align-items: center; }
.v-box.v-center { justify-content: center; }