header {
  top: 0;
  position: sticky;
  z-index: 9;
}

#md-guide {
  display: flex;
}

#md-guide #guide-items {
  flex-grow: 1;
}

#md-guide .menu > li {
  display: flex;
  align-items: center;
}

.emoji-group {
  font-size: 150%;
}

#file-info {
  font-size: 90%;
}

#file-info .dropdown-toggle {
  display: flex;
}

#file-info .dropdown-toggle > *:nth-child(2) {
  flex-grow: 1;
}

#file-info .breadcrumb {
  padding: 0;
  margin: 0;
  line-height: 1;
}

#editor-wrapper .controls,
#display-wrapper .controls,
#content > .controls {
  bottom: 0px;
  right: 0px;
}

#editor-wrapper .actual {
  font-family: 'Courier New', Courier, monospace;
  border: 1px solid;
  overflow: hidden;
}

#display-wrapper .actual {
  border: 1px dashed;
  overflow: hidden;
}

.actual > *:first-child {
  overflow: auto;
  height: 100%;
  width: 100%;
  resize: none;
}
