@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

.md-default {
  font-family: inherit;
}

.md-default a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dashed;
}

.md-default a:hover {
  color: inherit;
  background-color: #eee;
  text-decoration: none;
}

.md-default thead tr {
  background-color: #607D8B;
  color: #ECEFF1;
}

.md-default tbody tr:nth-child(odd) {
  background-color: #ECEFF1;
}

.md-default tbody tr:nth-child(even) {
  background-color: #CFD8DC;
}

.md-default tbody tr:hover {
  box-shadow: 0px 0px 2px 2px #607D8B;
  z-index: 10;
}

.md-default td,
.md-default th {
  padding: 5px;
}

.md-default pre > code {
  display: block;
}
