@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

.md-default {
  font-family: inherit;
}

.md-default a {
  /* background-color: #eeeeee; */
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dashed;
}

.md-default a:hover {
  color: inherit;
  background-color: #eee;
  text-decoration: none;
}

.md-default table {
  border-collapse: collapse;
}

.md-default thead {
  border-bottom: 1px solid #dddddd;
}

.md-default td,
.md-default th {
  padding: 5px;
}

.md-default pre > code {
  display: block;
}
