<!DOCTYPE html>
<html>
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-38752833-5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
  
      gtag('config', 'UA-38752833-5');
    </script>
    <title>Markee</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:url" content="https://ricwtk.github.io/markdown-editor">
    <meta property="og:title" content="Markee">
    <meta property="og:description" content="Text editor to create and edit markdown files">
    <meta name="description" content="Text editor to create and edit markdown files">
    <meta name="keywords" content="markee, markdown editor, markdown, editor">
    <link rel="icon" type="image/png" href="icons/icon.png?v=1.0">
    <link rel="stylesheet" href="css/md-themes.css">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="css/spectre.min.css">
    <link rel="stylesheet" href="css/spectre-icons.min.css">
    <link rel="stylesheet" href="css/materialdesignicons.min.css">
    <script src="js/showdown.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/emoji.js"></script>
  </head>

  <body>
    <header id="navbar">
      <div class="navbar bg-dark px-2">
        <section class="navbar-section">
          <span class="navbar-brand" style="display: flex"><img src="icons/icon.png" style="height: 24px;">&nbsp;<strong>Markee</strong></span>
          <span>&nbsp;Markdown&nbsp;Editor</span></span>
        </section>
        <section class="navbar-section">
          <span class="tooltip tooltip-bottom px-2 mdi mdi-24px mdi-circle " :style="fileDot" :data-tooltip="fileSavedString"></span>
          <span class="tooltip tooltip-bottom px-2 c-hand mdi mdi-24px mdi-file" data-tooltip="New file" @click="createNewFile"></span>
          <span class="tooltip tooltip-bottom px-2 c-hand mdi mdi-24px mdi-content-save" data-tooltip="Save file" @click="saveFile" v-if="!saving"></span>
          <span class="tooltip tooltip-bottom px-2 mdi mdi-24px mdi-loading mdi-spin" data-tooltip="Saving file" v-if="saving"></span>
          <span class="tooltip tooltip-bottom px-2 c-hand mdi mdi-24px mdi-content-save-settings" data-tooltip="Save as" @click="saveAs"></span>
          <span class="tooltip tooltip-bottom px-2 c-hand mdi mdi-24px mdi-folder-open" data-tooltip="Open from cloud" @click="openFile"></span>
          <span class="tooltip tooltip-bottom px-2 c-hand mdi mdi-24px mdi-download" data-tooltip="Save as html file" @click="saveAsHtml" v-if="!savingashtml && openedFile.parents.length > 0"></span>
          <span class="tooltip tooltip-bottom px-2 mdi mdi-24px mdi-loading mdi-spin" data-tooltip="Saving as html file" v-if="savingashtml"></span>
          <div class="divider-vert"></div>
          <span id="user" class="tooltip tooltip-bottom px-2 c-hand mdi mdi-24px mdi-account-circle" data-tooltip="User" @click="clickUser"></span>
        </section>
      </div>
      <div id="md-guide" class="col-12 bg-secondary px-2">
        <div id="guide-items">
          <span v-for="g in guides.slice(0, nguideshown)"
            :class="['c-hand', 'px-1', 'mdi', 'mdi-24px', 'tooltip', 'tooltip-bottom', g.icon]"
            :data-tooltip="g.tooltip"
            @click="clickGuide(g)">
          </span>
        </div>
        <div class="dropdown dropdown-right text-right" v-if="guides.slice(nguideshown).length > 0">
          <span class="c-hand mdi mdi-24px mdi-chevron-down dropdown-toggle" tabIndex="0"></span>
          <ul class="menu text-left">
            <li v-for="g in guides.slice(nguideshown)" class="c-hand" @click="clickGuide(g)">
              <i :class="['mdi', 'mdi-24px', g.icon]"></i><span class="px-1">{{ g.tooltip }}</span>
            </li>
          </ul>
        </div>
      </div>
      <div id="notifications" class="col-12 bg-secondary p-2" v-if="notiObj.notifications.length > 0">
        <div v-for="(noti, index) in notiObj.notifications" :class="['toast', noti.statusClass]">
          <button class="btn btn-clear float-right" @click="notiObj.notifications.splice(index, 1)"></button>
          {{ noti.message }}
        </div>
      </div>
    </header>

    <div :class="['modal', activate ? 'active' : '']" id="modal-loading">
      <div class="modal-overlay" :style="fontSizeStyle">
        <i id="loading-icon" class="mdi mdi-loading mdi-spin"></i>
        <div id="loading-text" ref="loadingText">{{ loadingText }}</div>
      </div>
    </div>
    
    <div class="modal" id="modal-user">
      <span class="modal-overlay" aria-label="Close" @click="closeModal"></span>
      <div class="modal-container">
        <div class="modal-header">
          <a @click="closeModal" class="btn btn-clear float-right" aria-label="Close"></a>
          <strong>User profile</strong>
        </div>
        <div class="modal-body">
          <div class="card" v-if="(Object.values(signedIn)).some(el => el)">
            <div class="card-header columns">
              <div class="column col-2 columns"><img :src="signedInUser.profilePic" class="img-responsive img-fit-contain"></div>
              <div class="column columns" style="flex-direction: column; align-items: center; justify-content: center">
                <div class="card-title h5">{{ signedInUser.name }}</div>
                <div class="card-subtitle text-gray">{{ signedInUser.email }}</div>
              </div>
            </div>
            <div class="card-footer columns">
              <button class="btn btn-outline col-12" @click="signOut">Sign out</button>
            </div>
          </div>
          <div class="columns" v-else>
            <div class="column col-12">Sign in to </div>
            <div class="column col-12 flex-centered" id="sign-in-icons">
              <span class="tooltip tooltip-top px-2 c-hand mdi mdi-24px mdi-google-drive" data-tooltip="Google Drive" @click="signInGoogle"></span>
              <!-- <span class="tooltip tooltip-top px-2 c-hand mdi mdi-24px mdi-onedrive" data-tooltip="Onedrive"></span>
              <span class="tooltip tooltip-top px-2 c-hand mdi mdi-24px mdi-dropbox" data-tooltip="Dropbox"></span> -->
            </div>
          </div>
          <div class="divider"></div>
          <div class="text-center full-width-button">
            <a href="privacy-policy.html">Privacy policy</a>
          </div>
          <div class="divider"></div>
        </div>
        <div class="modal-footer">
          <small>This site is powered by <a href="https://picturepan2.github.io/spectre/">Spectre</a>, <a href="https://materialdesignicons.com/">Material Design Icons</a>, <a href="https://github.com/showdownjs/showdown">Showdown</a>, and <a href="https://vuejs.org/">Vue</a></small>
        </div>
      </div>
    </div>

    <div class="modal" id="modal-guide">
      <span class="modal-overlay" aria-label="Close" @click="toggleModal"></span>
      <div class="modal-container">
        <div class="modal-header">
          <a @click="toggleModal" class="btn btn-clear float-right" aria-label="Close"></a>
          <strong>{{ title }}</strong>
        </div>
        <div :class="['modal-body', 'md-'+mdTheme]" v-html="compiledContent"></div>
      </div>
    </div>

    <div class="modal" id="modal-file-explorer">
      <span class="modal-overlay" aria-label="Close" @click="toggleModal"></span>
      <div class="modal-container">
        <div class="modal-header">
          <a @click="toggleModal" class="btn btn-clear float-right" aria-label="Close"></a>
          <strong>{{ title }}</strong>
        </div>
        <div class="modal-body bg-gray">
          <div class="navbar">
            <span class="navbar-section">
              <span v-if="folder.parents" class="mdi mdi-chevron-left mr-2 px-1 c-hand nav-button" @click="goUpALevel"></span>
              <span v-if="loadingFolder" class="mdi mdi-loading mdi-spin"></span>
              <span v-else class="navbar-brand">{{ folder.name }}</span>
            </span>
          </div>
          <div class="divider"></div>
          <div class="col-12 file-list" ref="fileList">
            <template v-if="loadingList">
              <span class="mdi mdi-loading mdi-spin"></span>
            </template>
            <template v-else>
              <div class="column col-12" v-if="list.length == 0">
                <div class="tile tile-centered p-2">
                  <div class="tile-icon">
                    <i class="mdi mdi-24px mdi-file-hidden"></i>
                  </div>
                  <div class="tile-content">
                    <div class="tile-title">No file</div>
                  </div>
                </div>
              </div>
              <span class="column col-4 col-sm-12 my-1" v-for="(item,i) in list">
                <div class="tile tile-centered p-2 file-tile my-1" @click="onClickFile(item, 'ft-' + i)" :ref="'ft-' + i">
                  <div class="tile-icon">
                    <i v-if="item.mimeType == 'application/vnd.google-apps.folder'" class="mdi mdi-24px mdi-folder"></i>
                    <i v-else-if="item.mimeType == 'text/markdown'" class="mdi mdi-24px mdi-markdown"></i>
                    <i v-else-if="item.mimeType == 'text/plain' && item.name.endsWith('.md')" class="mdi mdi-24px mdi-markdown"></i>
                    <i v-else class="mdi mdi-24px mdi-file-document"></i>
                  </div>
                  <div class="tile-content">
                    <div class="tile-title" :title="item.name">{{item.name}}</div>
                    <!-- <div class="tile-subtitle text-gray">{{item.mimeType}}</div> -->
                  </div>
                </div>
              </span>
              <div class="column col-12 text-center" v-if="loadingNextPage">
                <i class="mdi mdi-24px mdi-loading mdi-spin"></i>
              </div>
            </template>
          </div>
        </div>
        <div class="modal-footer columns">
          <span class="selected-file-name file-name px-2" v-if="options.type==options.TYPE.OPENFILE" contenteditable="false">{{ selectedFile ? selectedFile.name : "" }}</span>
          <span class="save-to-file-name file-name px-2" v-else contenteditable="true" ref="fileNameToSave">Save file</span>
          <div class="btn btn-outline" @click="clickAction">{{ actionTitle }}</div>
          <div class="btn btn-outline" @click="toggleModal">Cancel</div>
        </div>
      </div>
    </div>

    <div id="file-info" class="px-2">          
      <template v-if="openedFile.id">
        <div class="dropdown col-12" v-if="openedFile.pathsInName.length > 0">
          <span :class="openedFile.pathsInName.length > 1 ? ['dropdown-toggle', 'c-hand', 'tooltip', 'tooltip-bottom'] : ['dropdown-toggle']" tabindex="0" data-tooltip="Show other paths that point to this file">
            <ul class="breadcrumb">
              <li class="breadcrumb-item" v-for="n in openedFile.pathsInName[0].slice().reverse()">
                {{ n }}
              </li>
            </ul>
            <span class="mdi mdi-chevron-down text-right" v-if="openedFile.pathsInName.length > 1"></span>
          </span>
          <ul class="menu col-12" v-if="openedFile.pathsInName.length > 1">
            <template v-for="(p,i) in openedFile.pathsInName.slice(1)">
              <li>
                <ul class="breadcrumb">
                  <li class="breadcrumb-item" v-for="n in p.slice().reverse()">
                    {{ n }}
                  </li>
                </ul>
              </li>
              <li class="divider" v-if="i !== openedFile.pathsInName.length-2"></li>
            </template>
          </ul>
        </div>
      </template>
      <template v-else>
        {{ openedFile.name }}
      </template>
    </div>

    <div id="content" class="p-2 relative">
      <ul class="tab tab-block show-sm" id="content-tabs">
        <li class="tab-item">
          <a class="c-hand active" @click="switchTo" data-target="editor-wrapper">Editor</a>
        </li>
        <li class="tab-item">
          <a class="c-hand" @click="switchTo" data-target="display-wrapper">Display</a>
        </li>
      </ul>
      <div id="actual-content" class="columns">
        <content-container
          wrapper-id="editor-wrapper"
          :contenteditable="openedFile.canEdit"
          :hide-sm="false"
          :content="openedFile.raw"
          :maximisable="false"
          @input="updateRaw"
          @addtab="addTab"
          @boldtext="boldText"
          @italictext="italicText"
        ></content-container>
        <content-container
          wrapper-id="display-wrapper"
          :contenteditable="false"
          :hide-sm="true"
          :content="compiledDoc"
          content-theme="default"
          :maximisable="true"
        ></content-container>
      </div>

      <!-- <span class="controls absolute pr-2 hide-sm">
        <div class="height-minus mdi mdi-24px mdi-arrow-up-thick c-hand tooltip tooltip-left" data-tooltip="Decrease height" @click="decreaseHeight"></div>
        <div class="height-plus mdi mdi-24px mdi-arrow-down-thick c-hand tooltip tooltip-left" data-tooltip="Increase height" @click="increaseHeight"></div>
      </span> -->
    </div>

    <!-- <footer class="text-center bg-secondary">
      Powered by Spectre, Material Design Icons, Showdown, and Vue
    </footer> -->
    
    <!-- <nav class="navbar is-fixed-top has-shadow" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a href="" class="navbar-item">
          <strong class="is-size-4">RIMARE</strong>&nbsp;<span class="is-size-7">Markdown Editor for Google Drive</span>
        </a>
        <div class="navbar-burger" data-target="navMenu">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      
      <div class="navbar-menu" id="navMenu">
        <div class="navbar-start">
          <a href="" class="navbar-item" title="New file" style="display: flex; align-items: center">
            <i class="icon is-medium mdi mdi-24px mdi-file"></i>
            <span class="is-hidden-desktop">New file</span>
          </a>
          <a href="" class="navbar-item" title="Save file" style="display: flex; align-items: center">
            <i class="icon is-medium mdi mdi-24px mdi-content-save"></i>
            <span class="is-hidden-desktop">Save file</span>
          </a>
          <a href="" class="navbar-item" title="Open from Drive" style="display: flex; align-items: center">
            <i class="icon is-medium mdi mdi-24px mdi-folder-google-drive"></i>
            <span class="is-hidden-desktop">Open from Drive</span>
          </a>
        </div>
        <div class="navbar-end">
          <a href="" class="navbar-item" style="display: flex; align-items: center">
            <i class="icon is-medium mdi mdi-24px mdi-account-circle"></i> Sign in to Google
          </a>
          <a href="" class="navbar-item" style="display: flex; align-items: center">
            <i class="icon is-medium mdi mdi-24px mdi-help-circle-outline"></i> Help
          </a>
        </div>
      </div>
    </nav>

    

    <script>
    document.addEventListener('DOMContentLoaded', function () {

    // Get all "navbar-burger" elements
    var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {

      // Add a click event on each of them
      $navbarBurgers.forEach(function ($el) {
        $el.addEventListener('click', function () {

          // Get the target from the "data-target" attribute
          var target = $el.dataset.target;
          var $target = document.getElementById(target);

          // Toggle the class on both the "navbar-burger" and the "navbar-menu"
          $el.classList.toggle('is-active');
          $target.classList.toggle('is-active');

        });
      });
    }

    });
    </script> -->
    <script src="js/custom.js"></script>
    <script src="js/google-drive-access.js"></script>
    <script async defer src="https://apis.google.com/js/api.js"
      onload="initApis()"
      onreadystatechange="if (this.readyState === 'complete') this.onload()">
    </script>
  </body>
</html>