<!DOCTYPE html>
<html>
  <head>
    <title>Markee</title>
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" type="text/css" href="./node_modules/bulma/css/bulma.css"> -->
    <link rel="stylesheet" type="text/css" href="./node_modules/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" type="text/css" href="./css/main.css">
    <link rel="stylesheet" type="text/css" href="./css/md-themes.css">
    <script src="js/highlight.pack.js"></script>    
    <script src="js/remark.min.js"></script>
    <!-- <script src="js/showdown-timeline-ext.js"></script>
    <script src="js/showdown-highlightjs-ext.js"></script>
    <script src="js/md-converter.js"></script>
    <script src="js/emoji.js"></script>
    <script src="js/md-guides.js"></script>
    <script src="js/remark.min.js"></script> -->
  </head>

  <body>
    <div id="main" class="v-box">
      <nav class="h-box bg-gray-light p-1">
        <button class="btn btn-no-border" data-tooltip="Save" @click="saveFile"><i class="mdi mdi-content-save"></i></button>
        <button class="btn btn-no-border" data-tooltip="Open" @click="openFileUi"><i class="mdi mdi-folder-open"></i></button>
        <button class="btn btn-no-border" data-tooltip="New document" @click="newFile"><i class="mdi mdi-file-outline"></i></button>
        <div class="separator-vertical"></div>
        <button class="btn btn-no-border" data-tooltip="Undo" @click="execCommand('undo')"><i class="mdi mdi-undo"></i></button>
        <button class="btn btn-no-border" data-tooltip="Redo" @click="execCommand('redo')"><i class="mdi mdi-redo"></i></button>
        <button class="btn btn-no-border" data-tooltip="Copy" @click="execCommand('copy')"><i class="mdi mdi-content-copy"></i></button>
        <button class="btn btn-no-border" data-tooltip="Cut" @click="execCommand('cut')"><i class="mdi mdi-content-cut"></i></button>
        <button class="btn btn-no-border" data-tooltip="Paste" @click="execCommand('paste')"><i class="mdi mdi-content-paste"></i></button>
        <div class="separator-vertical"></div>
        <button class="btn btn-no-border" data-tooltip="Preference" @click="$refs.preference.toggle()"><i class="mdi mdi-settings"></i></button>
        <button class="btn btn-no-border" data-tooltip="Help" @click="$refs.help.toggle()"><i class="mdi mdi-help-circle"></i></button>
      </nav>

      <div :class="['pt-1', docContent == savedDocContent && openedFile ? 'bg-success' : 'bg-danger']"></div>
  
      <div class="h-box grow">
        <div class="p-1 h-box" id="edit-panel" ref="editPanel">
          <textarea class="grow overflow-auto p-1 b-1 bd-gray-light b-solid no-resize" v-model="docContent"></textarea>
          <div class="v-box show-md ml-1">
            <button class="btn btn-no-border mdi mdi-24px mdi-chevron-right c-hand grow" @click="showDisplay"></button>
          </div>
        </div>
        <div class="p-1 h-box hide-md" id="display-panel" ref="displayPanel">
          <div class="v-box show-md mr-1">
            <button class="btn btn-no-border mdi mdi-24px mdi-chevron-left c-hand grow" @click="showEdit"></button>
          </div>
          <div class="grow v-box md-default b-2 b-solid bd-gray-lighter overflow-hidden">
            <div v-if="renderOptions.docOrPres==0" class="grow bg-gray-lighter p-1 overflow-auto" v-html="compiledDocContent"></div>
            <div v-else class="presentation-display grow pos-relative">
              <div class="full-width full-height" ref="presentationDisplay"></div>
            </div>
            <div class="h-box bg-white p-1">
              <button class="btn btn-no-border mdi mdi-close"></button>
            </div>
          </div>
        </div>
      </div>
  
      <nav class="h-box bg-gray-light p-1">
        <div class="grow"></div>
        <div class="button-group">
          <button :class="['btn', renderOptions.docOrPres==0 ? 'selected' : '']" data-tooltip="Render as document" @click="renderOptions.docOrPres=0"><i class="mdi mdi-file-document-box"></i></buton>
          <button :class="['btn', renderOptions.docOrPres==1 ? 'selected' : '']" data-tooltip="Render as slides" @click="renderOptions.docOrPres=1"><i class="mdi mdi-file-presentation-box"></i></buton>
        </div>
        <div class="ml-1 mt-1"></div>
        <div class="button-group">
          <button class="btn" data-tooltip="Present"><i class="mdi mdi-presentation-play"></i></buton>
        </div>
      </nav>

      <preference ref="preference"></preference>
      <help ref="help"
        :mdguides="mdguides"
        :mdconverter="mdconverter"
      ></help>
      <file-explorer ref="fileExplorer"
        :main-action-display="feMainAction.name"
        :validation-function="feMainAction.validate"
        @main-action="feMainAction.fcn"
      ></file-explorer>
    </div>


    <script src="./js/main.js"></script>
  </body>
</html>